@model SWCLMS.Models.Responses.StudentGradedAssignmentsResponse
@{
    ViewBag.Title = "Grades";
}

<h2>@Model.CourseDetails.CourseName - Grades</h2>
<h4>@Html.ActionLink("Back to Dashboard", "Index", "Home")</h4>


<div class="row">
    <div class="col-xs-12">

        @if (Model.GradedAssignments.Count > 0)
        {
            foreach (var a in Model.GradedAssignments)
            {
                <div class="col-xs-6 col-sm-3">
                    <div class="StudentGrade">
                        <h4>@a.AssignmentName</h4>
                        <div>
                            <h2>
                                @a.Grade
                            </h2>
                            <h4>@a.Percentage %</h4>  
                        </div>
                                              
                    </div>                    
                </div>
            }
        }
        else
        {
            <h4>No graded assignments yet for this course!</h4>
        }
    </div>
</div>


